// COLORS
$Main-color-green: rgb(3, 116, 50);
$Main-color-green-dark: rgb(3, 68, 30);

$Main-color-orange: rgb(245, 172, 14);

$Main-color-blue: rgb(5, 5, 126);

$Main-color-red: rgb(255, 0, 0);
$Main-color-red-light: rgb(226, 9, 9);
