<div class="footer">
    <div class="footer__navigation">
        <ul class="footer__list">
            <li class="footer__item"><a href="#" class="footer__link">Author</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Contact Me</a></li>
            <li class="footer__item"><a href="#" class="footer__link">My Portfolio website</a></li>
        </ul>
    </div>
    <div class="footer__copyright">
        This website has been built with passion for modern web design solutions and flexible technologies. These technologies include Express JS for route handling, Node JS for backend development, MongoDB for NoSQL database, HTML5 for layout and CSS3 for visual representation. Copyright &copy; by Peter Kertesz 2020. 
    </div>
</div>

</body>
</html>