<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>House Storage</title>
        <link rel="stylesheet" href="/stylesheets/app.css">
        <script src="/scripts/Basket.js"></script>
    </head>
    <body class="container">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="/videos/video4.mp4" type="video/mp4">
                <source src="/videos/video.webm" type="video/webm">
                    Your browser is not supported!
            </video>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <div class="navigation__element">
                        <a href="/">
                            <svg class="navigation__icon navigation__icon--home">
                                <use xlink:href="/icons/sprite.svg#icon-home3"></use>
                            </svg>
                        </a>
                    </div>
                    <span class="navigation__span navigation__span--home">Home</span>
                </li>
                <li>
                    <div class="navigation__element">
                        <a href="/items">
                            <svg class="navigation__icon navigation__icon--file">
                                <use xlink:href="/icons/sprite.svg#icon-file-text2"></use>
                            </svg>
                        </a>
                    </div>
                    <span class="navigation__span navigation__span--file">Items</span>
                </li>
                <li>
                    <div class="navigation__element">
                        <a href="/users">
                            <svg class="navigation__icon navigation__icon--users">
                                <use xlink:href="/icons/sprite.svg#icon-users"></use>
                            </svg>
                        </a>
                    </div>
                    <span class="navigation__span navigation__span--users">Users</span>
                </li>
                <li>
                    <div class="navigation__element">
                        <a href="/purchases">
                            <svg class="navigation__icon navigation__icon--card">
                                <use xlink:href="/icons/sprite.svg#icon-credit-card"></use>
                            </svg>
                        </a>
                    </div>
                    <span class="navigation__span navigation__span--card">Purchases</span>
                </li>
                
                <% if(!currentUser) { %>
                    <div class="credentials-background">
                        <div class="navigation__credentials">
                            <div class="navigation__credentials--element">
                                <form action="/login" method="POST" autocomplete="off">
                                    <span class="login__text">Sign In</span>
                                    <input type="text" class="login__form-input" name="username" placeholder="Username" required>
                                    <input type="password" class="login__password" name="password" placeholder="Password" required>
                                    <button class="login__button">
                                        <svg class="navigation__credentials--icon navigation__icon--enter">
                                            <use xlink:href="/icons/sprite.svg#icon-enter"></use>
                                        </svg>
                                    </button>
                                    <a href="/register" class="login__signup">
                                        <span>Sign up</span>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <li>
                        <div class="navigation__element">
                            <a href="/items/new">
                                <svg class="navigation__icon navigation__icon--add">
                                    <use xlink:href="/icons/sprite.svg#icon-add-to-list"></use>
                                </svg>
                            </a>
                        </div>
                        <span class="navigation__span navigation__span--add">New Item</span>
                    </li>
                    <li>
                        <div class="navigation__element">
                            <a href="/stock"">
                                <svg class="navigation__icon navigation__icon--clipboard">
                                    <use xlink:href="/icons/sprite.svg#icon-clipboard"></use>
                                </svg>
                            </a>
                        </div>
                        <span class="navigation__span navigation__span--clipboard">My Stock</span>
                    </li>
                    <li>
                        <div class="navigation__element">
                            <a href="/basket">
                                <svg class="navigation__icon navigation__icon--cart">
                                    <use xlink:href="/icons/sprite.svg#icon-cart"></use>
                                </svg>
                            </a>
                        </div>
                        <span class="navigation__span navigation__span--cart">Basket</span>
                    </li>
                    <div class="credentials-background">
                        <div class="navigation__credentials">
                            <span class="navigation__credentials--signed-in">
                                Signed in as <span class="navigation__credentials--signed-in__username"><%= currentUser.username %></span>
                            </span>
                            <div class="navigation__credentials--avatar">
                                <img src="<%= currentUser.avatar%>" alt="">
                            </div>
                            <div class="navigation__credentials--element">
                                <a href="/logout">
                                    <svg class="navigation__credentials--icon navigation__icon--exit">
                                        <use xlink:href="/icons/sprite.svg#icon-exit"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                <% } %>  
            </ul>
        </div>
    