<%- include("partials/header"); %>

<div class="landing-container">

    <div class="landing">
        <div class="landing__welcome">
            <span class="landing__welcome--main">Welcome to </span>
            <span class="landing__welcome--title">House stocker</span>
        </div>
        <div class="landing__subwelcome">Enjoy the benefits of maintaining your household stock.</div>
        <div class="landing__buttons">
            <span class="landing__buttons--join"><a href="/register">Join Today</a></span>
            <span class="landing__buttons--seeitems"><a href="/items">See Household Items</a></span>
        </div>
    </div>
</div>

<%- include("partials/footer"); %>