@keyframes FadeInFromBottom {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes FadeInFromTop {
	0% {
		transform: translateY(-.5rem) scale(1.1);
		opacity: 0.5;
	}

	100% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

@keyframes FadeInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0.3;
	}

	25% {
		transform: translateX(50%);
		opacity: 0.4;
	}

	50% {
		transform: translateX(-50%);
		opacity: 0.5;
	}

	75% {
		transform: translateX(20%);
		opacity: 0.8;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes FadeInFromRight {
	0% {
		transform: translateX(100%);
		opacity: 0.5;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
