.main-button {
	text-transform: uppercase;
	color: #fff;
	background-color: $Main-color-orange;
	border: none;
	cursor: pointer;
	padding: 1.5rem;
	border-radius: .4rem;
	font-size: 1.1rem;
	transition: all .3s ease;

	&:focus {
		outline: none;
	}
}

.margin_bottom_small {
	margin-bottom: 2rem;
}
