@keyframes ConnectFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes ConnectFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes FadeInFromBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  50% {
    transform: translateY(10%);
    opacity: 0.5; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes FadeInFromTop {
  0% {
    transform: translateY(-0.5rem) scale(1.1);
    opacity: 0.5; }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1; } }

@keyframes FadeInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0.3; }
  25% {
    transform: translateX(50%);
    opacity: 0.4; }
  50% {
    transform: translateX(-50%);
    opacity: 0.5; }
  75% {
    transform: translateX(20%);
    opacity: 0.8; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes FadeInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0.5; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes OpacityIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes SlideDownAndBackUp {
  0% {
    transform: translateY(-10%);
    opacity: 0; }
  50% {
    transform: translateY(10%);
    opacity: 0.5; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes MoveInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  50% {
    transform: translateY(10%);
    opacity: 0.5; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin-left: calc(100vw - 100%);
  overflow-y: scroll; }

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.container {
  width: 65%;
  margin: 0 10% auto 10%; }

.flash {
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  animation: OpacityIn 1s; }
  .flash-success {
    background-color: #03441e; }
  .flash-error {
    background-color: #f00808; }

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.footer {
  position: fixed;
  right: 0;
  border-top-left-radius: 50%;
  width: 20%;
  height: 40%;
  background: linear-gradient(to left top, #0e6131 30%, transparent);
  color: #fff;
  padding: 5rem 0;
  font-size: 1.1rem;
  z-index: 5;
  bottom: -32%;
  transition: all .5s;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-items: center; }
  .footer:hover {
    bottom: 0; }
  .footer__navigation {
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    background-color: #0e6131;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    padding: .4rem; }
  .footer__link:hover, .footer__link:active {
    color: #0e6131;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid rgba(3, 49, 22, 0.9);
    padding-top: 2rem;
    width: 80%;
    text-align: justify;
    color: rgba(255, 255, 255, 0.7); }
    .footer__copyright p {
      margin-top: 0.4rem;
      text-align: center;
      color: #fff; }

.credentials-background {
  background: linear-gradient(to left bottom, rgba(10, 80, 39, 0.2) 5%, transparent);
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 1;
  border-left: 1px solid rgba(10, 80, 39, 0.1); }

.navigation {
  background: linear-gradient(to right, rgba(241, 245, 243, 0.4) 10%, transparent);
  height: 100vh;
  width: 7vw;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  display: grid;
  align-items: center; }
  .navigation__credentials {
    display: grid;
    grid-template-rows: repeat(2, 1fr); }
    .navigation__credentials--signed-in {
      align-self: center;
      color: rgba(255, 255, 255, 0.7);
      background-color: #0a5027;
      padding: 1rem;
      overflow: hidden;
      backface-visibility: hidden;
      width: 100%;
      text-align: center; }
      .navigation__credentials--signed-in__username {
        color: rgba(233, 174, 10, 0.8);
        font-size: 1.4rem; }
    .navigation__credentials--avatar {
      position: absolute;
      top: 11%;
      right: 5%;
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.6);
      overflow: hidden;
      border: 3px solid rgba(10, 80, 39, 0.5);
      z-index: -1; }
    .navigation__credentials img {
      margin: 0 auto;
      width: auto;
      height: 100%; }
    .navigation__credentials--element {
      margin: 2rem; }
      .navigation__credentials--element form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); }
      .navigation__credentials--element a {
        text-decoration: none;
        transition: all .2s; }
        .navigation__credentials--element a:hover {
          transform: scale(1.1); }
    .navigation__credentials--icon {
      width: 5rem;
      height: 5rem;
      margin-left: 1rem;
      fill: rgba(10, 80, 39, 0.8);
      stroke: rgba(255, 255, 255, 0.6);
      stroke-width: 0.1;
      transition: all .2s; }
      .navigation__credentials--icon:hover {
        transform: scale(1.1); }
  .navigation__span {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 90%;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    height: 70%;
    transition: all 1s;
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%); }
    .navigation__span--home {
      background-color: rgba(10, 80, 39, 0.8); }
    .navigation__span--file {
      background-color: rgba(5, 4, 73, 0.8); }
    .navigation__span--users {
      background-color: rgba(121, 93, 3, 0.8); }
    .navigation__span--card {
      background-color: rgba(56, 55, 52, 0.8); }
    .navigation__span--add {
      background-color: rgba(100, 3, 71, 0.8); }
    .navigation__span--clipboard {
      background-color: rgba(56, 44, 3, 0.8); }
    .navigation__span--cart {
      background-color: rgba(92, 2, 2, 0.8); }
  .navigation .basket-quantity {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #f5ac0e;
    color: #fff;
    width: 30%;
    height: 30%;
    text-align: center;
    border-radius: 50%;
    font-size: 1.8rem; }
  .navigation__element {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .navigation__element:hover ~ .navigation__span {
      visibility: visible;
      opacity: 1; }
    .navigation__element:hover .navigation__icon {
      transform: scale(1.1);
      opacity: 1; }
  .navigation__icon {
    height: 7rem;
    width: 7rem;
    margin: .5rem;
    padding: .1rem;
    stroke: rgba(255, 255, 255, 0.9);
    stroke-width: 0.1;
    transition: all .2s;
    opacity: 0.6; }
    .navigation__icon--home {
      fill: rgba(2, 46, 20, 0.8); }
    .navigation__icon--file {
      fill: rgba(5, 4, 73, 0.8); }
    .navigation__icon--users {
      fill: rgba(121, 93, 3, 0.8); }
    .navigation__icon--card {
      fill: rgba(56, 55, 52, 0.8); }
    .navigation__icon--add {
      fill: rgba(100, 3, 71, 0.8); }
    .navigation__icon--clipboard {
      fill: rgba(56, 44, 3, 0.8); }
    .navigation__icon--cart {
      fill: rgba(92, 2, 2, 0.8); }
  .navigation ul {
    list-style: none; }
    .navigation ul li {
      height: 100%;
      text-transform: uppercase;
      font-size: 1.3rem;
      position: relative; }
      .navigation ul li a:link,
      .navigation ul li a:visited {
        outline: none;
        text-decoration: none;
        color: #fff;
        cursor: pointer; }

.items {
  margin-top: 10rem; }
  .items .pagename {
    background-color: #037432;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    animation: ConnectFromTop 1s ease; }

.items_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-auto-rows: 1fr;
  align-items: center;
  background: rgba(3, 116, 50, 0.1);
  border: 1px solid rgba(3, 116, 50, 0.3);
  border-top: none;
  border-bottom: none;
  animation: ConnectFromBottom 1s ease; }
  .items_container__item {
    height: 90%;
    display: grid;
    grid-template-rows: repeat(7, minmax(0, 1fr));
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    margin: 1.6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: .5rem;
    transition: all .2s ease;
    overflow: hidden; }
    .items_container__item:hover {
      transform: translateY(-0.5rem); }
    .items_container__item--top {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      text-align: right;
      padding: .7rem .7rem .7rem 0;
      background-color: rgba(3, 116, 50, 0.8); }
    .items_container__item--name {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 1.1rem;
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      background-color: rgba(3, 116, 50, 0.8); }
    .items_container__item--image {
      grid-row: 2 / 5;
      grid-column: 1 / 4;
      width: 10rem;
      height: 10rem;
      margin-top: .3rem;
      margin-bottom: .3rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      user-select: none; }
    .items_container__item--store {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: #fff; }
      .items_container__item--store-text {
        grid-row: 6 / 7;
        grid-column: 1 / 3;
        background-color: #037432; }
      .items_container__item--store-value {
        grid-row: 6 / 7;
        grid-column: 3 / 4;
        background-color: rgba(3, 116, 50, 0.8); }
    .items_container__item--category {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
      .items_container__item--category-text {
        grid-row: 5 / 6;
        grid-column: 1 / 3;
        background-color: #037432; }
      .items_container__item--category-value {
        grid-row: 5 / 6;
        grid-column: 3 / 4;
        background-color: rgba(3, 116, 50, 0.8);
        font-size: .8rem;
        text-align: center; }
    .items_container__item--basket {
      grid-row: 7 / 8;
      grid-column: 1 / 2;
      display: flex;
      justify-content: center;
      align-items: center; }
      .items_container__item--basket button {
        text-transform: uppercase;
        color: #fff;
        background-color: #f5ac0e;
        border: none;
        cursor: pointer;
        padding: .5em;
        border-radius: .4rem;
        transition: all .3s ease; }
        .items_container__item--basket button:hover {
          transform: translateY(-0.3rem); }
    .items_container__item--stock {
      grid-row: 7 / 8;
      grid-column: 3 / 4;
      display: flex;
      justify-content: center;
      align-items: center; }
      .items_container__item--stock button {
        text-transform: uppercase;
        color: #fff;
        background-color: #05057e;
        border: none;
        cursor: pointer;
        padding: .5em;
        border-radius: .4rem;
        transition: all .3s ease; }
        .items_container__item--stock button:hover {
          transform: translateY(-0.3rem); }

.delete-btn {
  padding: .5rem;
  text-transform: uppercase;
  background-color: rgba(255, 0, 0, 0.9);
  text-decoration: none;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: .5rem;
  transition: all .2s ease; }
  .delete-btn:hover {
    transform: translateY(-0.4rem); }

.newitem {
  background-color: rgba(247, 244, 244, 0.4);
  border-radius: 1rem;
  width: 50%;
  margin: 10rem auto auto auto;
  padding: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.3);
  animation: SlideDownAndBackUp 1s; }
  .newitem ul {
    list-style: none;
    color: rgba(255, 0, 0, 0.8);
    margin: 1rem auto; }
  .newitem .error_header {
    color: black;
    text-transform: uppercase; }
  .newitem__header {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: .5rem;
    color: rgba(95, 97, 96, 0.5); }
  .newitem__form-group {
    margin-bottom: 1rem; }
  .newitem__form-input {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    padding-top: 1.1rem;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(31, 29, 29, 0.1);
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    border-bottom: 3px solid rgba(95, 97, 96, 0.1); }
    .newitem__form-input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid rgba(3, 116, 50, 0.5); }
    .newitem__form-input:focus:invalid {
      border-bottom: 3px solid rgba(240, 8, 8, 0.3); }
    .newitem__form-input::-webkit-input-placeholder {
      color: #7a7979; }
  .newitem__form-input:placeholder-shown + .newitem__form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .newitem__form-label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    color: rgba(3, 116, 50, 0.5);
    display: block;
    transition: opacity .9s; }
  .newitem__select {
    width: 25rem;
    margin-bottom: 2rem;
    height: 4rem;
    background-color: rgba(255, 221, 225, 0.1);
    color: rgba(0, 0, 0, 0.6);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1); }
  .newitem__selectlabel {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-right: 2rem;
    color: rgba(0, 0, 0, 0.6); }
  .newitem [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0; }
  .newitem [type="file"] + label {
    background-color: rgba(23, 24, 23, 0.3);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    font-weight: 600;
    width: 40%;
    outline: none;
    padding: 1rem 5rem;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle; }
    .newitem [type="file"] + label.upload-image {
      background-color: rgba(23, 24, 23, 0.3);
      box-shadow: 0 6px rgba(23, 24, 23, 0.6); }
      .newitem [type="file"] + label.upload-image:hover {
        box-shadow: 0 4px rgba(23, 24, 23, 0.6);
        top: 2px; }
  .newitem__form-group button {
    width: 100%;
    outline: none;
    padding: 1.8rem;
    cursor: pointer;
    border: none;
    background-color: rgba(226, 9, 9, 0.8);
    color: #fff;
    text-transform: uppercase;
    border-radius: .2rem;
    margin-top: 2rem; }
    .newitem__form-group button:hover {
      background-color: #e20909; }

.register {
  margin-top: 14rem;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(247, 244, 244, 0.4);
  border-radius: 1rem;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  animation: SlideDownAndBackUp 1s; }
  .register ul {
    list-style: none; }
    .register ul li {
      padding: 1rem; }
    .register ul li:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .register__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    position: relative; }
  .register__form-group {
    position: relative;
    margin-bottom: 2rem; }
    .register__form-group:nth-child(1) {
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
    .register__form-group:nth-child(2) {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .register__form-group:nth-child(3) {
      grid-row: 3 / 4;
      grid-column: 1 / 2; }
    .register__form-group:nth-child(4) {
      grid-row: 4 / 5;
      grid-column: 1 / 2; }
    .register__form-group:nth-child(5) {
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
    .register__form-group:nth-child(6) {
      grid-row: 4 / 5;
      grid-column: 2 / 3; }
    .register__form-group:nth-child(7) {
      grid-row: 5 / 6;
      grid-column: 1 / 3; }
    .register__form-group:nth-child(8) {
      grid-row: 6 / 7;
      grid-column: 1 / 3; }
    .register__form-group span {
      position: absolute;
      top: 30%;
      right: 3%;
      transition: color .4s;
      color: rgba(3, 116, 50, 0.5); }
    .register__form-group span::after {
      content: "Accepted"; }
  .register .flash {
    grid-row: 7 / 8;
    grid-column: 1 / 3; }
  .register__leftsubheader, .register__rightsubheader {
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: rgba(0, 0, 0, 0.3); }
  .register__button {
    background-color: rgba(240, 8, 8, 0.5);
    padding: 1rem 3rem;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0rem 0.1rem 0.1rem rgba(3, 116, 50, 0.3);
    cursor: pointer;
    text-transform: uppercase;
    backface-visibility: hidden;
    transition: all .3s; }
    .register__button:hover {
      padding: 1rem 4rem;
      background-color: #f00808; }
  .register__header {
    background-color: #037432;
    height: 10%;
    width: 50%;
    position: absolute;
    top: -5%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.6rem;
    border-radius: .5rem;
    padding: 1rem; }
  .register__form-input, .register__password, .register__email, .register__select {
    font-size: 1.5rem;
    padding: 1.5rem 4rem;
    padding-top: 1.1rem;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(31, 29, 29, 0.1);
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgba(95, 97, 96, 0.1); }
    .register__form-input:focus, .register__password:focus, .register__email:focus, .register__select:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid rgba(3, 116, 50, 0.5); }
    .register__form-input:invalid, .register__password:invalid, .register__email:invalid, .register__select:invalid {
      border-bottom: 3px solid rgba(240, 8, 8, 0.1); }
    .register__form-input:invalid ~ span, .register__password:invalid ~ span, .register__email:invalid ~ span, .register__select:invalid ~ span {
      color: rgba(240, 8, 8, 0.3); }
    .register__form-input:focus:invalid ~ span, .register__password:focus:invalid ~ span, .register__email:focus:invalid ~ span, .register__select:focus:invalid ~ span {
      color: rgba(240, 8, 8, 0.6); }
    .register__form-input:invalid ~ span::after, .register__password:invalid ~ span::after, .register__email:invalid ~ span::after, .register__select:invalid ~ span::after {
      content: "Required"; }
    .register__form-input:focus:invalid, .register__password:focus:invalid, .register__email:focus:invalid, .register__select:focus:invalid {
      border-bottom: 3px solid rgba(240, 8, 8, 0.3); }
    .register__form-input::-webkit-input-placeholder, .register__password::-webkit-input-placeholder, .register__email::-webkit-input-placeholder, .register__select::-webkit-input-placeholder {
      color: rgba(122, 121, 121, 0.6); }
  .register__select {
    margin: 0 auto; }
    .register__select:focus {
      border-bottom: 3px solid rgba(95, 97, 96, 0.1); }
  .register__form-input:placeholder-shown + .register__form-label,
  .register__email:placeholder-shown + .register__form-label,
  .register__password:placeholder-shown + .register__form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .register__form-label {
    position: absolute;
    top: -34%;
    left: 0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: .7rem;
    color: rgba(3, 116, 50, 0.5);
    background-color: rgba(247, 244, 244, 0.4);
    transition: opacity .9s; }
  .register__selectlabel {
    position: absolute;
    top: 76%;
    left: 6%;
    color: rgba(3, 116, 50, 0.5);
    background-color: rgba(247, 244, 244, 0.4);
    transition: opacity .9s;
    font-weight: 500;
    font-size: 1.2rem; }

.login__form-input, .login__password {
  height: 35%;
  padding: 1.3rem;
  background-color: rgba(10, 80, 39, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  border-radius: .3rem; }
  .login__form-input:focus, .login__password:focus {
    outline: none; }
  .login__form-input::-webkit-input-placeholder, .login__password::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7); }

.login__form-input {
  align-self: center;
  grid-column: 1 / 3;
  grid-row: 2 / 3; }

.login__password {
  align-self: center;
  grid-column: 1 / 3;
  grid-row: 3 / 4; }

.login__text {
  align-self: center;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-transform: uppercase;
  color: rgba(10, 80, 39, 0.8);
  font-size: 1.5rem;
  font-weight: 500; }

.login__button {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  align-self: center;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer; }

.login__signup {
  grid-column: 1 / 4;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(10, 80, 39, 0.8); }

.users_container {
  margin-top: 10rem; }
  .users_container .pagename {
    background-color: #037432;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    animation: ConnectFromTop 1s ease; }
  .users_container .users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-auto-rows: 1fr;
    background: rgba(3, 116, 50, 0.1);
    border: 1px solid rgba(3, 116, 50, 0.3);
    border-top: none;
    border-bottom: none;
    animation: ConnectFromBottom 1s ease; }
    .users_container .users__user {
      margin: 1.5rem;
      border: 1px solid rgba(3, 116, 50, 0.1);
      box-shadow: 0.1rem 0.4rem 1rem rgba(3, 116, 50, 0.1);
      background-color: rgba(3, 116, 50, 0.1);
      padding: 1rem;
      display: grid;
      grid-auto-rows: repeat(3, 1fr);
      position: relative;
      border-radius: .3rem; }
      .users_container .users__user--avatar {
        align-self: center;
        justify-self: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 2rem;
        border: 1px dashed rgba(3, 116, 50, 0.6);
        background-color: #fff; }
      .users_container .users__user--username {
        background-color: rgba(3, 116, 50, 0.9);
        color: #fff;
        position: absolute;
        width: 100%;
        text-align: center;
        padding: .5rem;
        bottom: 17%; }
      .users_container .users__user--team_id {
        background-color: rgba(3, 116, 50, 0.5);
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: .4rem;
        text-align: center;
        color: #fff; }
      .users_container .users__user a:link,
      .users_container .users__user a:visited {
        text-decoration: none;
        color: #fff; }

.user-container {
  width: 100%;
  margin: 10rem auto; }
  .user-container .user-profile {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 1fr)); }
    .user-container .user-profile__main {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      border: 1px solid rgba(3, 116, 50, 0.2);
      border-bottom: 10px solid #037432;
      background-color: rgba(3, 116, 50, 0.1);
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(2, 1fr); }
      .user-container .user-profile__main-avatar {
        grid-row: 1 / 5;
        grid-column: 1 / 2;
        justify-self: center;
        align-self: center;
        padding: 2rem; }
        .user-container .user-profile__main-avatar img {
          width: 200px;
          height: 200px;
          border: 2px dashed rgba(3, 116, 50, 0.5); }
      .user-container .user-profile__main-upload {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        justify-self: center;
        align-self: center; }
        .user-container .user-profile__main-upload [type="file"] {
          height: 0;
          overflow: hidden;
          width: 0; }
        .user-container .user-profile__main-upload [type="file"] + label {
          border: none;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          outline: none;
          padding: 1.2rem 1rem;
          transition: padding 0.3s; }
          .user-container .user-profile__main-upload [type="file"] + label.upload-avatar {
            background-color: #037432;
            box-shadow: .1rem .1rem 1rem #fff; }
            .user-container .user-profile__main-upload [type="file"] + label.upload-avatar:hover {
              padding: 1.2rem 2rem; }
        .user-container .user-profile__main-upload button {
          padding: 1.2rem 1rem;
          background-color: #f00808;
          border: 1px solid #fff;
          box-shadow: .1rem .1rem 1rem #fff;
          font-size: inherit;
          cursor: pointer;
          color: #fff;
          transition: padding .3s;
          border-radius: 5px; }
          .user-container .user-profile__main-upload button:hover {
            padding: 1.2rem 2rem; }
      .user-container .user-profile__main-username {
        font-size: 3rem;
        color: #037432;
        align-self: center; }
      .user-container .user-profile__main-name {
        font-size: 1rem;
        color: #037432;
        align-self: center; }
      .user-container .user-profile__main-team {
        font-size: 1rem;
        color: #037432;
        align-self: center; }
    .user-container .user-profile__info {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      background-color: rgba(182, 248, 208, 0.1); }
      .user-container .user-profile__info--about {
        padding: 3rem;
        font-size: 1.3rem; }
        .user-container .user-profile__info--about__title {
          font-size: 2rem; }

.basket {
  margin-top: 10rem; }
  .basket .pagename {
    background-color: #037432;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    animation: ConnectFromTop 1s ease; }
  .basket .basket-form {
    display: grid;
    justify-items: right;
    border: none; }
  .basket .basket-next {
    margin: 2rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #f5ac0e;
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: .4rem;
    transition: all .3s ease; }
    .basket .basket-next:hover {
      transform: translateY(-0.3rem); }

.basket-container {
  margin: 0 auto;
  border-right: 1px solid rgba(3, 116, 50, 0.3);
  border-left: 1px solid rgba(3, 116, 50, 0.3);
  animation: ConnectFromBottom 1s ease; }
  .basket-container .empty {
    padding: 3rem;
    color: rgba(3, 116, 50, 0.8);
    font-size: 1.8rem;
    background-color: #fff; }
  .basket-container .item__group {
    margin: .2rem auto;
    display: grid;
    grid-template-columns: 1fr min-content 6fr 1fr;
    align-items: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(3, 116, 50, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(3, 116, 50, 0.8);
    text-align: center; }
    .basket-container .item__group--confirm {
      grid-template-columns: minmax(3rem, min-content) 1fr min-content 1fr 1fr minmax(3rem, min-content); }
    .basket-container .item__group input[type=number] {
      padding: 1rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 500; }
      .basket-container .item__group input[type=number]::-webkit-inner-spin-button,
      .basket-container .item__group input[type=number] ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .basket-container .item__group input[type=number]:focus {
        outline: none; }
    .basket-container .item__group:nth-child(2n) {
      background-color: rgba(3, 116, 50, 0.3);
      color: white; }
    .basket-container .item__group__image {
      background-color: #fff; }
      .basket-container .item__group__image img {
        width: 6rem;
        height: 6rem; }
    .basket-container .item__group__button {
      text-transform: uppercase;
      color: #fff;
      background-color: red;
      border: none;
      cursor: pointer;
      padding: .5em;
      border-radius: .4rem;
      transition: all .3s ease; }
      .basket-container .item__group__button:hover {
        transform: translateY(-0.3rem); }

.purchases-container {
  margin: 10rem auto;
  background-color: rgba(3, 116, 50, 0.1); }
  .purchases-container .purchases {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    animation: ConnectFromBottom 1s ease; }
  .purchases-container .pagename {
    background-color: #037432;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    animation: ConnectFromTop 1s ease; }
  .purchases-container .purchase {
    background-color: rgba(3, 116, 50, 0.1);
    border: 1px solid rgba(3, 116, 50, 0.1);
    border-bottom: none;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(3, 116, 50, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(3rem, min-content)) 1fr minmax(3rem, min-content); }
    .purchases-container .purchase__user {
      grid-column: 1 / 4;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, minmax(3rem, min-content));
      background-color: transparent; }
      .purchases-container .purchase__user--image {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        text-align: center;
        padding: 1rem; }
        .purchases-container .purchase__user--image img {
          width: 100px;
          height: 100px;
          border: 1px solid rgba(3, 116, 50, 0.7); }
      .purchases-container .purchase__user--username {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: right;
        padding: .4rem;
        border-right: 1px solid black;
        align-self: center; }
      .purchases-container .purchase__user--teamname {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: .4rem;
        align-self: center; }
    .purchases-container .purchase__header {
      text-align: center;
      text-transform: uppercase;
      color: rgba(3, 65, 13, 0.7);
      font-weight: 600;
      font-size: 1.3rem;
      grid-column: 1 / 4;
      display: flex;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      .purchases-container .purchase__header--item {
        grid-column: 1 / 2; }
      .purchases-container .purchase__header--qty {
        grid-column: 2 / 3; }
      .purchases-container .purchase__header--price {
        grid-column: 3 / 4; }
    .purchases-container .purchase__items {
      grid-column: 1 / 4; }
      .purchases-container .purchase__items--group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        padding: 1rem;
        border-top: 1px solid rgba(3, 65, 13, 0.2); }
      .purchases-container .purchase__items > * {
        padding: .3rem;
        text-transform: uppercase; }
      .purchases-container .purchase__items--name {
        grid-column: 1 / 2; }
      .purchases-container .purchase__items--quantity {
        grid-column: 2 / 3; }
      .purchases-container .purchase__items--price {
        grid-column: 3 / 4; }
    .purchases-container .purchase__date {
      grid-column: 1 / 4;
      background-color: #037432;
      color: #fff;
      display: flex;
      align-items: center;
      padding-left: 2rem; }

.stock-container {
  margin-top: 10rem; }
  .stock-container .pagename {
    background-color: #037432;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    animation: ConnectFromTop 1s ease; }
  .stock-container__save {
    padding: 1rem;
    border: none;
    background-color: #f5ac0e;
    color: #fff;
    margin-bottom: 2rem;
    border-radius: .4rem;
    animation: ConnectFromTop 1s ease; }
  .stock-container__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    background-color: rgba(3, 116, 50, 0.1);
    animation: ConnectFromBottom 1s ease; }
  .stock-container input[type=number] {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500; }
    .stock-container input[type=number]::-webkit-inner-spin-button,
    .stock-container input[type=number] ::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .stock-container input[type=number]:focus {
      outline: none; }
  .stock-container .stock-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid rgba(130, 243, 187, 0.6); }
    .stock-container .stock-item > * {
      text-align: center; }
    .stock-container .stock-item__name {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      background-color: rgba(3, 116, 50, 0.8);
      padding: 1rem;
      color: #fff;
      text-transform: uppercase; }
    .stock-container .stock-item__image {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      background-color: #fff; }
      .stock-container .stock-item__image img {
        width: 100px;
        height: 100px; }
    .stock-container .stock-item__label--qty {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .stock-container .stock-item__label--qty, .stock-container .stock-item__label--reorder {
      background-color: #037432;
      padding: .7rem;
      color: #fff;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-around; }
    .stock-container .stock-item .stock_item--quantity {
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: repeat(2, 1fr); }
    .stock-container .stock-item .stock_item--reorder {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: repeat(2, 1fr); }
    .stock-container .stock-item .qty-up {
      background-color: rgba(3, 116, 50, 0.7);
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer; }
      .stock-container .stock-item .qty-up:hover, .stock-container .stock-item .qty-up:focus {
        background-color: #037432;
        transform: scale(1.1); }
    .stock-container .stock-item .qty-down {
      background-color: rgba(255, 0, 0, 0.8);
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer; }
      .stock-container .stock-item .qty-down:hover, .stock-container .stock-item .qty-down:focus {
        background-color: red;
        transform: scale(1.1); }

.landing-container {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center; }
  .landing-container .landing__welcome {
    font-size: 6rem;
    text-shadow: 0.5rem 0.5rem 1rem rgba(91, 92, 90, 0.3);
    animation: MoveInFromTop 2s ease; }
    .landing-container .landing__welcome--main {
      color: white;
      background-color: #03441e;
      padding: 3rem;
      border: 3px solid rgba(3, 68, 30, 0.6);
      border-right: none; }
    .landing-container .landing__welcome--title {
      color: #03441e;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 3rem;
      border: 3px solid rgba(3, 68, 30, 0.6);
      border-left: none; }
  .landing-container .landing__subwelcome {
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #03441e;
    animation: MoveInFromTop 2s ease; }
  .landing-container .landing__buttons {
    text-align: center;
    margin-top: 6rem; }
    .landing-container .landing__buttons > * {
      padding: 2rem;
      text-transform: uppercase;
      border-radius: .4rem;
      box-shadow: 0.1rem 0.4rem 1rem rgba(0, 0, 0, 0.4);
      transition: all .3s ease;
      animation: MoveInFromTop 2s ease; }
      .landing-container .landing__buttons > *:hover {
        padding: 2.25rem; }
      .landing-container .landing__buttons > * a {
        text-decoration: none;
        color: #fff; }
    .landing-container .landing__buttons--join {
      background-color: #e28205; }
    .landing-container .landing__buttons--seeitems {
      background-color: #03441e; }
