*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin-left: calc(100vw - 100%);
	overflow-y: scroll;
}

body {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	width: 65%;
	margin: 0 10% auto 10%;
}

.flash {
	padding: 1rem;
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
	animation: OpacityIn 1s;

	&-success {
		background-color: rgb(3, 68, 30);
	}

	&-error {
		background-color: rgb(240, 8, 8);
	}
}

.bg-video {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -2;
	opacity: .15;
	overflow: hidden;

	&__content {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.footer {
	position: fixed;
	right: 0;
	border-top-left-radius: 50%;
	width: 20%;
	height: 40%;
	background: linear-gradient(to left top, rgb(14, 97, 49) 30%, transparent);
	color: #fff;
	padding: 5rem 0;
	font-size: 1.1rem;
	z-index: 5;
	bottom: -32%;
	transition: all .5s;

	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 2rem;
	justify-items: center;

	&:hover {
		bottom: 0;
	}

	&__navigation {
		padding-top: 2rem;
		display: inline-block;
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: #fff;
			background-color: rgb(14, 97, 49);
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all .2s;
			padding: .4rem;
		}

		&:hover,
		&:active {
			color: rgb(14, 97, 49);
			background-color: #fff;
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
			transform: rotate(5deg) scale(1.3);
		}
	}

	&__copyright {
		border-top: 1px solid rgba(3, 49, 22, 0.9);
		padding-top: 2rem;
		width: 80%;
		text-align: justify;
		color: rgba(255, 255, 255, .7);

		p {
			margin-top: 0.4rem;
			text-align: center;
			color: #fff;
		}
	}
}

.credentials-background {
	background: linear-gradient(to left bottom, rgba(10, 80, 39, .2) 5%, transparent);
	position: fixed;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	z-index: 1;
	border-left: 1px solid rgba(10, 80, 39, .1);
}

.navigation {
	background: linear-gradient(to right, rgba(241, 245, 243, .4) 10%, transparent);
	height: 100vh;
	width: 7vw;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 2;
	display: grid;
	align-items: center;

	&__credentials {
		display: grid;
		grid-template-rows: repeat(2, 1fr);

		&--signed-in {
			align-self: center;
			color: rgba(255, 255, 255, .7);
			background-color: rgba(10, 80, 39, 1);
			padding: 1rem;
			overflow: hidden;
			backface-visibility: hidden;
			width: 100%;
			text-align: center;

			&__username {
				color: rgba(233, 174, 10, 0.8);
				font-size: 1.4rem;
			}
		}

		&--avatar {
			position: absolute;
			top: 11%;
			right: 5%;
			width: 12rem;
			height: 12rem;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, .6);
			overflow: hidden;
			border: 3px solid rgba(10, 80, 39, 0.5);
			z-index: -1;
		}

		img {
			margin: 0 auto;
			width: auto;
			height: 100%;
		}

		&--element {
			margin: 2rem;

			form {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(3, 1fr);
			}

			a {
				text-decoration: none;
				transition: all .2s;

				&:hover {
					transform: scale(1.1);
				}
			}
		}

		&--icon {
			width: 5rem;
			height: 5rem;
			margin-left: 1rem;
			fill: rgba(10, 80, 39, 0.8);
			stroke: rgba(255, 255, 255, .6);
			stroke-width: 0.1;
			transition: all .2s;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__span {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: 90%;
		width: 100%;
		top: 50%;
		transform: translate(0, -50%);
		height: 70%;
		transition: all 1s;
		font-size: 0.9rem;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-around;
		clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);

		&--home {
			background-color: rgba(10, 80, 39, 0.8);
		}

		&--file {
			background-color: rgba(5, 4, 73, 0.8);
		}

		&--users {
			background-color: rgba(121, 93, 3, 0.8);
		}

		&--card {
			background-color: rgba(56, 55, 52, 0.8);
		}

		&--add {
			background-color: rgba(100, 3, 71, 0.8);
		}

		&--clipboard {
			background-color: rgba(56, 44, 3, 0.8);
		}

		&--cart {
			background-color: rgba(92, 2, 2, 0.8);
		}
	}

	&__element {
		display: flex;
		align-items: center;
		justify-content: space-around;

		&:hover ~ .navigation__span {
			visibility: visible;
			opacity: 1;
		}

		&:hover .navigation__icon {
			transform: scale(1.1);
			opacity: 1;
		}
	}

	&__icon {
		height: 7rem;
		width: 7rem;
		margin: .5rem;
		padding: .1rem;
		stroke: rgba(255, 255, 255, .9);
		stroke-width: 0.1;
		transition: all .2s;
		opacity: 0.6;

		&--home {
			fill: rgba(2, 46, 20, 0.8);
		}

		&--file {
			fill: rgba(5, 4, 73, 0.8);
		}

		&--users {
			fill: rgba(121, 93, 3, 0.8);
		}

		&--card {
			fill: rgba(56, 55, 52, 0.8);
		}

		&--add {
			fill: rgba(100, 3, 71, 0.8);
		}

		&--clipboard {
			fill: rgba(56, 44, 3, 0.8);
		}

		&--cart {
			fill: rgba(92, 2, 2, 0.8);
		}
	}

	ul {
		list-style: none;

		li {
			height: 100%;
			text-transform: uppercase;
			font-size: 1.3rem;
			position: relative;

			a:link,
			a:visited {
				outline: none;
				text-decoration: none;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}
