*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin-left: calc(100vw - 100%);
}

body {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.flash {
	width: 100%;
	padding: 1rem;
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, .2);
	animation: OpacityIn 3s;
	margin-bottom: 1.5rem;

	&-success {
		background-color: rgb(3, 116, 50);
	}

	&-error {
		background-color: rgb(240, 8, 8);
	}
}

.navigation {
	background: linear-gradient(to right bottom, rgba(10, 80, 39, 0.8), rgba(3, 65, 29, 1));
	height: 100vh;
	width: 7vw;
	left: 0;
	top: 0;
	position: fixed;

	&__span {
		visibility: hidden;
		opacity: 0;
		width: 0;
		position: absolute;
		left: 100%;
		top: 50%;
		transform: translate(0, -50%);
		background-color: rgba(10, 80, 39, 0.8);
		height: 50%;
		transition: all .4s, opacity .1s;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	&__element {
		display: flex;
		align-items: center;
		justify-content: space-around;

		&:hover ~ .navigation__span {
			visibility: visible;
			opacity: 1;
			width: 100%;
		}

		&:hover .navigation__icon {
			transform: scale(1.1);
		}
	}

	&__icon {
		height: 7rem;
		width: 7rem;
		margin: .5rem;
		padding: .1rem;
		fill: rgba(2, 46, 20, 0.8);
		stroke: rgba(255, 255, 255, .9);
		stroke-width: 0.1;
	}

	ul {
		list-style: none;

		li {
			height: 100%;
			text-transform: uppercase;
			font-size: 1.3rem;
			position: relative;

			a:link,
			a:visited {
				outline: none;
				text-decoration: none;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}
