*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 33%;
	margin-left: calc(100vw - 100%);
	overflow-y: scroll;

	@include tablet-portrait {
		font-size: 50%;
	}

	@include tablet-landscape {
		font-size: 56.25%;
	}

	@include desktop {
		font-size: 62.5%;
	}

	@include big-desktop {
		font-size: 75%;
	}
}

body {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	width: 100vw;
	width: 90vw;
	margin: 0 auto;

	@include tablet-landscape {
		width: 80vw;
	}

	@include desktop {
		margin: 0 10% auto 10%;
		width: 65vw;
	}
}
