.basket {
	margin-top: 10rem;

	.pagename {
		background-color: $Main-color-green;
		padding: 1rem;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.2rem;
		animation: ConnectFromTop 1s ease;
	}

	.basket-form {
		display: grid;
		justify-items: right;
		border: none;
	}

	.basket-next {
		margin: 1rem;
		text-transform: uppercase;
		color: #fff;
		background-color: $Main-color-orange;
		border: none;
		cursor: pointer;
		padding: 1rem;
		border-radius: .4rem;
		transition: all .3s ease;

		&:hover {
			padding: 1rem 1.3rem;
		}
	}

	.basket-back {
		text-decoration: none;
		padding: 1.3rem;
		background-color: $Main-color-green;
		margin-left: 1rem;
		color: #fff;
		border-radius: .4rem;
		transition: all .3s ease;

		&:hover {
			padding: 1.3rem 1.6rem;
		}
	}
}

.basket-container {
	margin: 0 auto;
	border: 1px solid rgba($Main-color-green, .3);
	border-top: none;
	animation: ConnectFromBottom 1s ease;

	&__inner {
		padding: 3rem;

		.basket-title {
			background-color: rgba($Main-color-green, .6);
			width: 100%;
			padding: 1rem;
			text-transform: uppercase;
			color: #fff;
			border-top-left-radius: 2rem;
			border-top-right-radius: 2rem;
		}
	}

	.empty {
		padding: 3rem;
		color: rgba($Main-color-green, .8);
		font-size: 1.8rem;
		background-color: rgba(255, 255, 255, .4);
	}

	.item__group {
		margin: .2rem auto;
		display: grid;
		grid-template-columns: 1fr min-content 6fr 1fr;
		align-items: center;
		font-size: 1.8rem;
		text-transform: uppercase;
		border-bottom: 1px solid rgba($Main-color-green, .3);
		background-color: rgba(255, 255, 255, .2);
		color: rgba($Main-color-green, .8);
		text-align: center;

		&--confirm {
			grid-template-columns: minmax(3rem, min-content) 1fr min-content 1fr 1fr minmax(3rem, min-content);
		}

		input[type=number] {
			padding: 1rem;
			text-align: center;
			font-size: 1.1rem;
			font-weight: 500;

			&::-webkit-inner-spin-button,
			::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			&:focus {
				outline: none;
			}
		}

		.item__subtotal {
			color: rgba(0, 0, 0, .6);
			transform: translateY(-.22rem);
			min-width: 5rem;
		}

		&:nth-child(2n) {
			background-color: rgba($Main-color-green, .1);
			color: rgba(0, 0, 0, .7);
		}

		&__image {
			background-color: #fff;
			img {
				width: 4rem;
				height: 4rem;
			}
		}

		&__button {
			text-transform: uppercase;
			color: #fff;
			background-color: red;
			border: none;
			cursor: pointer;
			padding: .5em;
			border-radius: .4rem;
			transition: all .3s ease;

			&:hover {
				transform: translateY(-.3rem);
			}
		}
	}

	.totalClass {
		padding: 1.5rem;

		.totalLabel {
			text-transform: uppercase;
			color: rgba(0, 0, 0, .7);
			background-color: rgba($Main-color-orange, .2);
			padding: 2rem;
		}

		.totalAmount {
			color: rgba(0, 0, 0, .7);
			background-color: rgba($Main-color-orange, .2);
			padding: 2rem;
		}
	}
}
