.search-items {
	margin: 5rem auto;
	text-align: center;

	input[type="text"] {
		padding: 1.1rem;
		border-radius: .4rem;
		border: none;
		margin-right: .4rem;
		color: rgba(0, 0, 0, .7);

		&::-webkit-input-placeholder {
			color: rgba(0, 0, 0, .4);
		}

		&:focus {
			outline: none;
		}
	}

	.search-button {
		&:hover {
			transform: translateY(-.4rem);
		}
	}
}

.items {
	.pagename {
		background-color: $Main-color-green;
		padding: 1rem;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.2rem;
		animation: ConnectFromTop 1s ease;
	}
}

.items_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 24rem);
	grid-auto-rows: 1fr;
	align-items: center;
	background: rgba($Main-color-green, .1);
	border: 1px solid rgba($Main-color-green, .3);
	border-top: none;
	border-bottom: none;
	animation: ConnectFromBottom 1s ease;

	&__item {
		height: 90%;
		display: grid;
		grid-template-rows: repeat(7, minmax(0, 1fr));
		grid-template-columns: repeat(3, 1fr);
		background-color: white;
		margin: 1.6rem;
		border: 1px solid rgba(0, 0, 0, .2);
		position: relative;
		border-radius: .5rem;
		transition: all .2s ease;
		overflow: hidden;

		&:hover {
			transform: translateY(-.5rem);
		}

		&--top {
			grid-row: 1 / 2;
			grid-column: 3 / 4;
			text-align: right;
			padding: .7rem .7rem .7rem 0;
			background-color: rgba($Main-color-green, .8);
		}

		&--name {
			grid-row: 1 / 2;
			grid-column: 1 / 3;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-size: 1.1rem;
			color: #fff;
			text-transform: uppercase;
			font-weight: 300;
			background-color: rgba($Main-color-green, .8);
		}

		&--image {
			grid-row: 2 / 5;
			grid-column: 1 / 4;
			width: 10rem;
			height: 10rem;
			margin-top: .3rem;
			margin-bottom: .3rem;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			user-select: none;
		}

		&--store {
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			color: #fff;

			&-text {
				grid-row: 6 / 7;
				grid-column: 1 / 3;
				background-color: $Main-color-green;
			}

			&-value {
				grid-row: 6 / 7;
				grid-column: 3 / 4;
				background-color: rgba($Main-color-green, .8);
			}
		}

		&--category {
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			color: #fff;
			border-bottom: 1px solid rgba(255, 255, 255, .3);

			&-text {
				grid-row: 5 / 6;
				grid-column: 1 / 3;
				background-color: $Main-color-green;
			}

			&-value {
				grid-row: 5 / 6;
				grid-column: 3 / 4;
				background-color: rgba($Main-color-green, .8);
				font-size: .8rem;
				text-align: center;
			}
		}

		&--basket {
			grid-row: 7 / 8;
			grid-column: 1 / 2;
			display: flex;
			justify-content: center;
			align-items: center;

			button {
				text-transform: uppercase;
				color: #fff;
				background-color: $Main-color-orange;
				border: none;
				cursor: pointer;
				padding: .5em;
				border-radius: .4rem;
				transition: all .3s ease;

				&:hover {
					transform: translateY(-.3rem);
				}
			}
		}

		&--stock {
			grid-row: 7 / 8;
			grid-column: 3 / 4;

			display: flex;
			justify-content: center;
			align-items: center;

			button {
				text-transform: uppercase;
				color: #fff;
				background-color: $Main-color-blue;
				border: none;
				cursor: pointer;
				padding: .5em;
				border-radius: .4rem;
				transition: all .3s ease;

				&:hover {
					transform: translateY(-.3rem);
				}
			}
		}
	}
}

.delete-btn {
	padding: .5rem;
	text-transform: uppercase;
	background-color: rgba(255, 0, 0, .9);
	text-decoration: none;
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: .5rem;
	transition: all .2s ease;

	&:hover {
		transform: translateY(-.4rem);
	}
}
