.landing-container {
	width: 100%;
	height: 100vh;

	display: grid;
	align-items: center;
	justify-items: center;

	.landing {
		&__welcome {
			font-size: 4rem;
			text-shadow: .5rem .5rem 1rem rgba(91, 92, 90, 0.3);
			animation: MoveInFromTop 2s ease;

			&--main {
				color: rgba(255, 255, 255, 1);
				background-color: $Main-color-green-dark;
				padding: 3rem;
				border: 3px solid rgba($Main-color-green-dark, .6);
				border-right: none;
			}

			&--title {
				color: $Main-color-green-dark;
				background-color: rgba(255, 255, 255, .8);
				padding: 3rem;
				border: 3px solid rgba($Main-color-green-dark, .6);
				border-left: none;
			}
		}

		&__subwelcome {
			margin-top: 3rem;
			text-align: center;
			font-size: 2rem;
			color: $Main-color-green-dark;
			animation: MoveInFromTop 2s ease;
		}

		&__buttons {
			text-align: center;
			margin-top: 6rem;
			transition: all .3s ease;

			& > * {
				padding: 2rem;
				text-transform: uppercase;
				border-radius: .4rem;
				box-shadow: 0.1rem 0.4rem 1rem rgba(0, 0, 0, .4);
				transition: all .1s ease;
				animation: MoveInFromTop 2s ease;
			}

			a {
				text-decoration: none;
				color: #fff;

				&:hover {
					padding: 2.25rem;
				}
			}

			a:nth-child(1) {
				background-color: $Main-color-orange;
			}

			a:nth-child(2) {
				background-color: $Main-color-green-dark;
			}
		}
	}
}
