.login {
	&__form-input,
	&__password {
		height: 35%;
		padding: 1.1rem;
		background-color: rgba(10, 80, 39, 0.8);
		border: 1px solid rgba(255, 255, 255, .5);
		color: #fff;
		margin-left: .5rem;
		border-radius: .3rem;

		&:focus {
			outline: none;
		}

		&::-webkit-input-placeholder {
			color: rgba(255, 255, 255, .7);
		}
	}

	&__button {
		background: none;
		border: none;
		cursor: pointer;
	}
}
