.users_container {
	margin-top: 10rem;
}

.users {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	grid-auto-rows: 1fr;

	&__user {
		margin: 1.5rem;
		border: 1px solid rgba(3, 116, 50, 0.1);
		box-shadow: .1rem .4rem 1rem rgba(3, 116, 50, 0.1);
		background-color: rgba(3, 116, 50, 0.1);
		padding: 1rem;
		display: grid;
		grid-auto-rows: repeat(3, 1fr);
		position: relative;
		border-radius: .3rem;

		&--avatar {
			align-self: center;
			justify-self: center;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-bottom: 2rem;
			border: 1px dashed rgba(3, 116, 50, 0.6);
		}

		&--username {
			background-color: rgba(3, 116, 50, 0.9);
			color: #fff;
			position: absolute;
			width: 100%;
			text-align: center;
			padding: .5rem;
			bottom: 17%;
		}

		&--team_id {
			background-color: rgba(3, 116, 50, 0.5);
			width: 100%;
			position: absolute;
			bottom: 0;
			padding: .4rem;
			text-align: center;
			color: #fff;
		}

		a:link,
		a:visited {
			text-decoration: none;
			color: #fff;
		}
	}
}
