.users_container {
	margin-top: 10rem;
	margin-bottom: 10rem;

	.pagename {
		background-color: $Main-color-green;
		padding: 1rem;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.2rem;
		animation: ConnectFromTop 1s ease;
	}

	.users {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
		grid-auto-rows: 1fr;
		background: rgba($Main-color-green, .1);
		border: 1px solid rgba($Main-color-green, .3);
		border-top: none;
		border-bottom: none;
		animation: ConnectFromBottom 1s ease;

		&__user {
			margin: 1.5rem;
			border: 1px solid rgba(3, 116, 50, 0.1);
			box-shadow: .1rem .4rem 1rem rgba(3, 116, 50, 0.1);
			background-color: rgba(3, 116, 50, 0.1);
			padding: 1rem;
			display: grid;
			grid-auto-rows: repeat(3, 1fr);
			position: relative;
			border-radius: .3rem;
			transition: all .3s;

			&:hover,
			&:focus {
				transform: translateY(-.5rem);
				background-color: rgba($Main-color-orange, 0.1);
			}

			&--avatar {
				align-self: center;
				justify-self: center;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				margin-bottom: 2rem;
				border: 1px dashed rgba(3, 116, 50, 0.6);
				background-color: #fff;
			}

			&--username {
				background-color: rgba(3, 116, 50, 0.9);
				color: #fff;
				position: absolute;
				width: 100%;
				text-align: center;
				padding: .5rem;
				bottom: 17%;
			}

			&--team_id {
				background-color: rgba(3, 116, 50, 0.5);
				width: 100%;
				position: absolute;
				bottom: 0;
				padding: .4rem;
				text-align: center;
				color: #fff;
			}

			a:link,
			a:visited {
				text-decoration: none;
				color: #fff;

				&:hover,
				&:focus {
					color: $Main-color-orange;
				}
			}
		}
	}
}
