.user-container {
	width: 100%;
	margin: 10rem auto;

	.user-profile {
		display: grid;
		grid-template-rows: repeat(2, minmax(1fr, 50vh));

		&__main {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			border: 1px solid rgba(3, 116, 50, .2);
			border-bottom: 10px solid rgba(3, 116, 50, 1);
			background-color: rgba(3, 116, 50, 0.1);

			display: grid;
			grid-template-rows: repeat(5, 1fr);
			grid-template-columns: 1fr;

			&-avatar {
				grid-row: 1 / 5;
				justify-self: center;
				align-self: center;
				padding: 2rem;

				img {
					width: 200px;
					height: 200px;
					border: 2px dashed rgba(3, 116, 50, 0.5);
				}
			}

			&-upload {
				grid-row: 5 / 6;
				justify-self: center;
				align-self: center;

				[type="file"] {
					height: 0;
					overflow: hidden;
					width: 0;
				}

				[type="file"] + label {
					border: none;
					border-radius: 5px;
					color: #fff;
					cursor: pointer;
					outline: none;
					padding: 1.2rem 1rem;
					transition: padding 0.3s;

					&.upload-avatar {
						background-color: rgba(3, 116, 50, 1);
						box-shadow: .1rem .1rem 1rem #fff;

						&:hover {
							padding: 1.2rem 2rem;
						}
					}
				}

				button {
					padding: 1.2rem 1rem;
					background-color: rgba(240, 8, 8, 1);
					border: 1px solid #fff;
					box-shadow: .1rem .1rem 1rem #fff;
					font-size: inherit;
					cursor: pointer;
					color: #fff;
					transition: padding .3s;
					border-radius: 5px;

					&:hover {
						padding: 1.2rem 2rem;
					}
				}
			}

			&-username {
				font-size: 3rem;
				padding: 1rem;
				color: $Main-color-green;
			}

			&-name {
				font-size: 1rem;
				padding: 1rem;
				color: rgba(255, 255, 255, .7);
				background-color: rgba($Main-color-green, .4);
			}

			&-team {
				font-size: 1rem;
				padding: 1rem;
				color: rgba(255, 255, 255, .7);
				background-color: rgba($Main-color-green, .7);
			}
		}

		&__select,
		&__createinput {
			padding: .5rem;
			margin-left: 1rem;
			margin-bottom: 1rem;

			&:focus {
				outline: none;
			}
		}

		&__join,
		&__create {
			margin-left: 1rem;
			text-transform: uppercase;
			color: #fff;
			background-color: $Main-color-orange;
			border: none;
			cursor: pointer;
			padding: .5em;
			border-radius: .4rem;
			transition: all .3s ease;

			&:hover {
				transform: translateY(-.3rem);
			}
		}

		&__info {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			background-color: rgba(182, 248, 208, 0.1);

			&--about {
				padding: 3rem;
				font-size: 1.3rem;

				& > * {
					padding: 2rem;
					background-color: rgba($Main-color-orange, .1);
					border-bottom: 1px solid rgba($Main-color-orange, .2);
				}

				&__title {
					font-size: 2rem;
				}

				&__email {
				}

				&__joined {
				}

				&__updated {
				}
			}

			&--purchases {
				padding: 3rem;
				font-size: 1.3rem;

				&__title {
					font-size: 2rem;
					margin-bottom: 1rem;
				}

				&__month {
					border: 1px solid rgba($Main-color-green, .4);
					padding: 2rem;
					background-color: rgba($Main-color-green, .4);

					&:nth-child(2n) {
						background-color: rgba(255, 255, 255, .4);
					}
				}

				&__total {
					font-size: 1.6rem;
					padding: 2rem 0;
				}
			}
		}
	}
}
